{% extends 'base.html' %}
{% block titulo %}Paises{% endblock %}
{% block contenido %}


{% include '_menu.html' %}

<div class="container mt-5">
    <h1>Listado de Paises</h1>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>id</th>
                <th>nombre</th>
                <th>created_at</th>
                <th>updated_at</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for pais in paises%}
            <tr>
                <td>{{pais.id}}</td>
                <td>{{pais.nombre}}</td>
                <td>{{pais.created_at}}</td>
                <td>{{pais.updated_at}}</td>
                <td> <a class="btn btn-outline-primary btn-sm" href="/paises/detalle/{{pais.id}}"><i class="fa fa-search-plus fa-lg" aria-hidden="true"></i></a>  
                    <a class="btn btn-outline-danger btn-sm" href="/paises/eliminar/{{pais.id}}"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="/paises/crear"><i class="fa fa-flag-checkered" aria-hidden="true"></i> Agregar Pais</a>
</div>


{% endblock %}